/*
Name : Julian Burnley
Course: CIS233DA
Section: 12988 
Instructor : Brian Thurber
*/


/*Fonts
font-family: 'Fira Sans', sans-serif;
font-family: 'IBM Plex Sans Arabic', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Red Hat Mono', monospace;
font-family: 'Roboto Mono', monospace;
*/


/* Browser reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

      /* Color scheme*/

      :root {

        --background-primary:#CBB9A8;
        --text-background-primary: #000000;
        --background-secondary: #d4dfff;
        --text-background-secondary: #ffff;
        --background-tertiary: #145C9E;
        --text-background-tertiary: #f55951;
        --text-code:#0000ff;
      }

      /*Style*/

      .body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3em 2.5fr auto 2.5fr;
        overflow: hidden;
        grid-template-areas:

        "header"
        "navigation"
        "main"
        "footer"; 
      }

      .header {
        grid-area: header;
        background-color: var(--background-tertiary);
        color: var(--text-background-secondary);
        text-align: center;
        padding: .5em;
      }

      .navigation {
        grid-area: navigation;
        background-color: var(--background-tertiary);
        color: var(--text-background-secondary);
      }

      .navigation ul {
        display: flex;
        align-items: center;
        justify-content:space-evenly;
        font-size: large;
        list-style: none;
        color: var(--text-background-secondary);
        padding-inline: 30em;
      }

      .navigation a {
        color: var(--text-background-secondary);
        letter-spacing: 2px; 
        text-decoration: none; 
        padding: 4.5px 4.5px;
        display: inline-block;
        width: 100%;
        margin-top: .5em; 
        margin-bottom: .5em;
      }

      .navigation a:hover {
        background-color: var(--text-background-primary);
        color: var(--background-secondary);
        padding: 5px;
  
      }

      .main {
        grid-area: main;
        font-family: 'Belanosima', sans-serif;
        height: calc(100vh - (48px + 5fr) );
        background-color: var(--background-secondary);
        color: var(--text-background-secondary);
      }

      .main h1 {
        font-family: 'Lato', sans-serif;
        color: var(--text-background-primary);
        margin-top: .5em;
        margin-bottom: .5em;
      }

      .footer {
        grid-area: footer;
        background-color: var(--background-tertiary);
        color: var(--text-background-secondary);

      }

      .footer p {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-inline: 30em;
        padding-top: 1em;

      }

      .properties dd {
        font-family: 'Space Mono', monospace;
        color: var(--text-code);
      }

      .properties dt {
        color: var(--text-background-tertiary);
        font-size: larger;
        
      }

      .terminology dt {
        color: var(--text-background-primary);
      }

      .terminology dt {
        color: var(--text-background-primary);
      }

      .terminology dd {
        color: var(--text-background-primary);
      }

      .terminology {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 3px;
        grid-column-gap: 3px;
        padding: 1em;
      
       
      }

      .terminology dt {
        color: var(--text-background-tertiary);
        border-left: solid thick var(--text-background-tertiary);
        background-color: var(--background-primary);
        margin-right:19em ;
        padding: 5px;

      }

      .terminology dd {
        border-bottom: 2px solid var(--text-background-primary); 
        margin-left: -300px;
      }

      .properties {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: auto;
        grid-row-gap: 10px;
        grid-column-gap: 10px;
      }

      .properties div {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1.5em auto;
        row-gap: 15px;
        border: 2px solid var(--text-background-tertiary);
        box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.75);;
        border-radius: 50px 10px;
        padding: 2.5em;
        background-color: var(--background-primary);
        
      }

      .properties div {
        display: grid;
        grid-template-areas: 
        "property heading"
        "property code";
      }



       .code {
        grid-area: code;  
      }

      

       .heading {
        grid-area: heading; 
        
      }

      .properties dt {
        grid-area: property;
      }

      .properties .heading {
        color: var(--text-background-primary); 
        font-size: larger;
      }

      .properties dt {
        color: var(--text-background-tertiary); 
        font-size: large;
      }

      .painting {
        font-size: small;
      }
      
      .layout {
        font-size: small;
      margin-left: auto;
      margin-right: auto;
      background-color:#CBB9A8;
      }
      .layout p {
        padding: .5em;
      }
      
      .fallback {
        font-size: small;
        background-color: #CBB9A8;
              margin-left: auto;
      margin-right: auto;
      
      }
      
      .fallback p {
        padding: .5em;
      }
      
      
      .painting {
        float: left;
        background-color: #CBB9A8;
        margin-left: 5px;
        padding: 5px;
      
      }
      
      .painting p {
        padding-left: .5em;
        padding-right: .5em;
      }
      
      .fallback {
        float: right;
        margin-right: 100px;
      }
      
      .layout {
        float: left;
       
      }

      .layout p {
        margin-left: auto;
      }

      .fallback p .layout p .painting p {
        background-color: #000000;
      }
      


    
  







   















 
  


  

 

























